form-group {
    margin-bottom: 15px;
}

input[type="text"] {
    border: 1px solid #ccc;
    padding: 15px;
    width: 100%;
    display: block;
    margin: 10px auto;
    font-size: 20px;
    text-align: center;
}

.queryBubble, .responseBubble {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    max-width: 80%;
    font-size: 18px;
    display: inline-block;
  }
  
  .queryBubble {
    background-color: #f0f0f0;
    text-align: left;
  }
  
  .responseBubble {
    background-color: #e0e0ff;
    text-align: left;
  }
  
  .chatContainer {
    text-align: left;
  }
  

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    margin: 10px auto;
}

#queryInput {
    width: 80%;
    padding: 20px;
    min-height: 50px;
    margin: 10px 0;
    margin: 10px auto;
    max-width: 80%
}


#responseDiv {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 50px;
    margin: 10px auto;
    max-width: 80%;
    font-size: 18px;

}

.chatContainer {
    max-height: 60vh;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px auto;
    max-width: 80%;
  }
  
  .inputContainer {
    display: flex;
    justify-content: center;
  }
  
  .userMessage, .botMessage {
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
    max-width: 70%;
    clear: both;
  }
  
  .userMessage {
    background-color: #1c83c3;
    color: #ffffff;
    float: right;
  }
  
  .botMessage {
    background-color: #28de5b;
    color: #ffffff;
    float: left;
  }
  
  .typingIndicator {
    font-size: 20px;
    float: left;
    display: inline-block;
    width: 1em;
    text-align: center;
    animation: typing 1s steps(5, end) infinite;
  }
  
  @keyframes typing {
    0% { content: '.'; }
    20% { content: '..'; }
    40% { content: '...'; }
    60% { content: '..'; }
    80% { content: '.'; }
    100% { content: ''; }
}
  