form-group {
    margin-bottom: 15px;
}

input[type="text"] {
    border: 1px solid #ccc;
    padding: 15px;
    width: 100%;
    display: block;
    margin: 10px auto;
    font-size: 20px;
    text-align: center;
}

.queryBubble, .responseBubble {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    max-width: 80%;
    font-size: 18px;
    display: inline-block;
  }
  
  .queryBubble {
    background-color: #f0f0f0;
    text-align: left;
  }
  
  .responseBubble {
    background-color: #e0e0ff;
    text-align: left;
  }
  
  .chatContainer {
    text-align: left;
  }
  

body {
    font-family: Arial, sans-serif;
    background-color: #271b40;
    margin: 0;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
}

.chatWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #271b40;
}

#queryInput {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    font-size: 16px;
}


#responseDiv {
    max-width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 50px;
    margin: 10px auto;
    max-width: 80%;
    font-size: 18px;

}

.chatContainer {
    height: 80vh;
    width: 100vh;
    overflow-y: scroll;
    padding: 15px;
    background-color: #ffffff;
  }
  
  .inputContainer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #f8f8f8; 
  }
  
.userMessage,
.botMessage,
.typingIndicator {
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
    max-width: 70%;
    font-size: 16px;
    clear: both;
    line-height: 1.5;
}
  
  .userMessage {
    background-color: #1c83c3;
    color: #ffffff;
    float: right;
  }
  
  .botMessage {
    background-color: #28de5b;
    color: #ffffff;
    float: left;
  }
  
  .typingIndicator {
    background-color: #28de5b; 
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
    max-width: 70%;
    float: left;
    color: #ffffff; 
    font-size: 20px;
    animation: typing 1s steps(5, end) infinite;
  }
  
  @keyframes typing {
    0% { content: '.'; }
    20% { content: '..'; }
    40% { content: '...'; }
    60% { content: '..'; }
    80% { content: '.'; }
    100% { content: ''; }
}
  